body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.leftcolumn{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 32%;
    background-color: #fff;
}

.leftcolumn > .top{
    color: #4054DA;
    font-size: 20px;
    margin-top: 5%;
    font-weight: bolder;
}

.leftcolumn > .textbox{
    margin-top: 10%;
}

.leftcolumn > .textbox > .bigname{
    font-size: 40px;
    margin-bottom: 20px;
}
.leftcolumn > .textbox > .smalltext{
    font-size: 20px; 
    color: #8D909E;
    margin-bottom: 20px;    
}

.textbox  .capital{
    text-transform: capitalize;
}

.form > .form-row{
    border-style: solid;
    border-width: 1px;
}

form *{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 25px;    
}

.form-row >.form-label{
    text-transform: capitalize;
}

.form-row > .form-input{
    color: #4054DA;
    border: none;
}

.form-row:hover {
    border-left-color: #4054DA;
    border-left-width: 5px;
    border-left-style: bold;
}

::placeholder{
    color: #4054DA; 
}

.memory{
    margin-top:5%;
}

.memory > *{
    color:#8D909E;    
}

.memory > .box{
    margin-top: 3px;
    margin-right: 5px;
}

.memory > .forgetfulness{
    float:right;
    text-decoration: none;
}

.memory > .forgetfulness:hover{
    opacity: 0.6;
}

.button{
    margin-top: 7%;
}

.button > .clicky{
    border-width: 1px;
    border-style: solid;
    border-color: #3751FF;
    height:50px;
    /* padding: 15px;
    padding-left: 50px;
    padding-right: 50px; */
    border-radius: 4px; 
}

.button > .first{
    background-color: #3751FF; 
}

.button > .second{
    background-color: #fff; 
    float:right;
    margin-right: 50%;
}

.button .clicky-text{
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bolder;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

.first-text{
    color: #fff;
}

.second-text{
    color: #3751FF;
}

button:hover{
    padding: 5px;    
} 

.linkcontainer{
    margin-top: 80px;
}

.linkcontainer *{
    display: inline;
    font-size: 16px;
    margin-right: 70px;
    text-decoration: none;
}

.linkcontainer > .bottom-text{
    color:#8D909E;
}

.linkcontainer > .bottom-link{
    color:#4054DA;
    font-weight: bolder;
}

.linkcontainer > .bottom-link:hover{
    opacity: 0.6;
}

.rightcolumn{
    display: inline-block;
    width: 57%;
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}